doctype html
html(lang="en")
  head
    title User Details
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      h1 User Details
      p Username: #{user.username}
      p Email: #{user.email}
      a(href="/users") Back to Users List
